
*.pyc
*~
*.swp
*.swo
*.bak
*.log
.svn
./supervise
nohup.out
*.nohup

*.htm.py
*.txt.py


.DS_Store
.projectile

.tags

.idea

.Python
.env
\#*#
./tags
.flake8rc
./Thumbs.db

# Config
test_config.py
dev_config.py
online_config.py
